html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body * {
    box-sizing: border-box;
}

.header {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background: #eee;
}

.video-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.video-box .video-title {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    bottom: 0;
    padding: 5px 0;
    font-size: 12px;
}

.video-box video {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#local {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 400px;
    height: 300px;
    z-index: 2;
}

#users-list {
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(100% - 40px);
    margin: 20px;
    padding: 20px;
    background: #eee;
    border-radius: 8px;
}
#users-list.active {display: flex;}
#users-list .video-box {
    width: 400px;
    height: 300px;
    z-index: 1;
}

.btn {
    background: #fff;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    transition: 0.25s ease;
    box-shadow: none;
}
.btn:hover {background: #dbdbdb;}
.btn:active {background: #ebebeb;}


.input {margin: 0 0 8px 0;}
.input select, .input input {
    border-radius: 5px;
    padding: 4px 6px;
    border: 1px solid #9d9d9d;
    background: #fff;
}